# Web framework
fastapi
uvicorn[standard]

# Configuration & validation
pydantic-settings

# Testing & Linting
pytest
pytest-asyncio
httpx
ruff
mypy

# Database
sqlmodel
psycopg2-binary

# Auth
pyjwt
bcrypt
python-multipart
