@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

.nav-btn.active { 
  background-color: rgba(99, 102, 241, 0.1); 
  color: white; 
  border-right: 3px solid #6366f1; 
}

.nav-btn { 
  border-right: 3px solid transparent; 
}